html {
    width: 100%;
}

* {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEE;
}

@media only screen and (max-width: 600px) {

    html {
        max-width: 600px;
    }
}